@page "/"

<PageTitle>ホーム - Genesis.Echos</PageTitle>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="mb-4">Genesis.Echos へようこそ</h1>
            <p class="lead">ゲーム開発チーム向けの掲示板システムです</p>
            <hr class="my-4" />
            <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                <a href="/posts" class="btn btn-primary btn-lg">
                    <i class="bi bi-chat-left-text-fill"></i> 投稿を見る
                </a>
                <a href="/Account/Login" class="btn btn-outline-secondary btn-lg">
                    <i class="bi bi-box-arrow-in-right"></i> ログイン
                </a>
            </div>
        </div>
    </div>
</div>
