@page "/"

<PageTitle>ホーム - Genesis.Echos</PageTitle>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="mb-4">Genesis.Echos へようこそ</h1>
            <p class="lead">ゲーム開発チーム向けの掲示板システムです</p>
            <hr class="my-4" />
            <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                <a href="/posts" class="btn btn-primary btn-lg">
                    <i class="bi bi-chat-left-text-fill"></i> 投稿を見る
                </a>
                <AuthorizeView>
                    <Authorized>
                        <a href="/posts/create" class="btn btn-success btn-lg">
                            <i class="bi bi-plus-circle-fill"></i> 新規投稿
                        </a>
                    </Authorized>
                    <NotAuthorized>
                        <a href="/Account/Login" class="btn btn-outline-secondary btn-lg">
                            <i class="bi bi-box-arrow-in-right"></i> ログイン
                        </a>
                        <a href="/Account/Register" class="btn btn-outline-primary btn-lg">
                            <i class="bi bi-person-plus-fill"></i> 新規登録
                        </a>
                    </NotAuthorized>
                </AuthorizeView>
            </div>
        </div>
    </div>
</div>
